@import "./fontAwesome/fontawesome.scss";
@import "./_variables.scss";

.header-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    a {
        color: $white;
        text-decoration: none;
        font-size: 1.3em;
    }
    a:active {
        background-color: $white;
        color: $black;
    }
    a:hover {
        background-color:$white;
        color: $black;
    }
};

.centerNavbar {
    width: 90vw;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}

.navbar {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center;
};

.center-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-and-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 2vh;
    padding-top: 1vh;
};

.fa-star {
    @extend %fa-icon;
    @extend .fas;
    font-size: 1.3em;
    content: fa-content($fa-var-star);
};

i {
    font-style: normal;
};

.star-0 {
    color: $purple;
};

.star-1 {
    color: $red;
};

.star-2 {
    color: $orange;
};

.star-3 {
    color: $yellow;
};

.star-4 {
    color: $green;
};

.star-5 {
    color: $green;
};

.star-6 {
    color: $yellow;
};

.star-7 {
    color: $orange;
};

.star-8 {
    color: $red;
};

.star-9 {
    color: $purple;
};

.helvi {
    font-size: 1.8em;
    padding-bottom: 0;
};

.nameBox {
    width: 62vw;
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
};


.leftstars {
    width: 22vw;
    max-width: 150px;
    display: flex;
    justify-content: space-around;
};

.rightstars {
    width: 22vw;
    max-width: 150px;
    display: flex;
    justify-content: space-around;
};

.hlaineka {
    font-size: 1em;
    padding-bottom: 0;
};

.bannerHr {
    width: 90vw;
    max-width: 700px;
}

