$black: #272727;
$white: #f0f0f0;
$red: #ed5f4c;
$blue: #3daacd;
$green: #88c856;
$purple: #c750bb;
$orange: #e48c4c;
$yellow: #e8d84a;

$width: 750px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Unifont';
    src: url('../font/unifont-13.0.06.ttf') format('truetype');
};
