@import "./_header.scss";
@import "./_content.scss";
@import "./fontAwesome/fontawesome.scss";
@import "./fontAwesome/solid.scss";
@import "./fontAwesome/regular.scss";
@import "./_variables.scss";


body {
    background-color: $black;
    font-family: 'Unifont';
    color: $white;
    font-size: 18px;
};



